aclocal.m4 linguist-vendored=false
autoscan.log linguist-vendored=false
config.log linguist-vendored=false
config.status linguist-vendored=false
Makefile.am linguist-vendored=false
Makefile.in linguist-vendored=false
autogen.sh linguist-vendored=false

autom4te.cache/output.0 linguist-vendored=false
autom4te.cache/output.1 linguist-vendored=false
autom4te.cache/output.2 linguist-vendored=false
autom4te.cache/requests linguist-vendored=false
autom4te.cache/traces.0 linguist-vendored=false
autom4te.cache/traces.1 linguist-vendored=false
autom4te.cache/traces.2 linguist-vendored=false
