*.m4 linguist-vendored=false
*.sh linguist-vendored=false
*.log linguist-vendored=false
*.1 linguist-vendored=false
*.2 linguist-vendored=false
*.am linguist-vendored=false
*.in linguist-vendored=false



